<div class="modal-header">
    <h4 class="modal-title">{{my_modal_title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="form-group">
                <label for="recipeName">Name</label>
                <input [(ngModel)]="newRecipe.recipeName" type="text" class="form-control"
                    placeholder="My Family Recipe" />
                <!-- <label for="ingredient">Ingredient</label>
                    <input [(ngModel)]="newRecipe.ingredient" type="text" class="form-control" placeholder="My First Ingredient" />
                    <label for="qty">Quantity</label>
                    <input [(ngModel)]="newRecipe.qty" type="text" class="form-control" placeholder="My Family Recipe" /> -->
                <input type="checkbox" [(ngModel)]="newRecipe.complete" /><br>
                <label for="category">Category</label>
                <select [(ngModel)]="newRecipe.category" class="form-control" aria-placeholder="Select recipe category">
                    <option default="" value="Appetizer">Appetizer</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Drink">Drink</option>
                    <option value="Entree">Entree</option>
                </select>
                <button (click)="addRecipe()">add</button>
            </div>
        </div>
    </div>
    <p> {{my_modal_content}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>