<div>
  <h2>Your Recipes</h2>
  <ul class="container">
    <li style="list-style: none;" *ngFor="let recipe of recipes | slice: 1">
      <div class="card flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front card">
            <div style="width: 95%; height: auto;">
              <img class="card-img-top" [src]="recipe.recipeImage">
            </div>
            <!-- <p>{{recipe.recipeImage}}</p> -->
            <h5 class="card-title">{{recipe.recipeName}}</h5>
            {{recipe.category}}
          </div>
          <div class="flip-card-back">
            <div>
              Directions: {{recipe.directions}}
            </div>
            Complete: {{ recipe.complete}}<br>
            <div><a href="#">Update</a></div>
            <div><a href="#">View</a></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>