<!-- <h2>Add New Recipe</h2>
<div>
  <input [(ngModel)]="newRecipe.recipeName" />
  <input type="checkbox" [(ngModel)]="newRecipe.complete" /><br>
  <select [(ngModel)]="newRecipe.category">
    <option value="Appetizer">Appetizer</option>
    <option value="Dessert">Dessert</option>
    <option value="Drink">Drink</option>
    <option value="Entree">Entree</option>
  </select>
  <button (click)="addRecipe()">add</button>
</div> -->
<div>
  <h2>Your Recipes</h2>
<ul class="container" >
  <li style="list-style: none;" *ngFor="let recipe of recipes | slice: 1">
    <div class="card flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://picsum.photos/200/200">
          <h3>{{recipe.recipeName}}</h3>
          {{recipe.category}}
        </div>
        <div class="flip-card-back">
          Directions: {{recipe.directions}} <br>
          Complete: {{ recipe.complete}}<br>
          <div><a href="#">Update</a></div><div><a href="#">View</a></div>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>