<p>recipe-image-card works!</p>
<div class="recipe-card">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class=""></div>
            <mat-card-title>{{recipeName}}</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="`${image}`" alt="Photo of `${image}`">
        <mat-card-content>
            <p>
                Recipe card text will go here.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>