<div>
<h2><img src='../../assets/logo.png'>DelishUs</h2>
<div class="col-6">
    <p>DelishUs was born from the collaboration of several full stack software engineer students at Woz-U as their final project.
    The concept is to digitize family recipes to be passed down from generation to generation in a protected and secure environment.</p>

    <p>The concept seems simple, right? Well, yes at first, but it has continued to evolve throughout each virtual collaborative sprint 
    over the last six weeks. The DelishUs creators envision each families culinary history will be recorded, as well as the ancestrial 
    heritage of each family through interactive features to come. Thus creating a time capsule, that will hold precious memories for 
    generations past, present, and future!</p></div></div>