<div class="container">
    <div class="row">
        <div class="col-4">
            <ngb-accordion [closeOthers]="true" activeIds="static-1">
                <ngb-panel id="static-1" title="Appetizers">
                    <ng-template ngbPanelContent>
                        <nav *ngFor="let recipe of filterApp">
                            <ul *ngIf="(recipe.category === 'Appetizer')"><li>{{recipe.category}}</li></ul>
                        </nav>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-2" title="Entree">
                    <ng-template ngbPanelContent>
                        <nav *ngFor="let recipe of recipes">
                            <li>{{recipe.category}}</li>
                        </nav>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-3" title="Dessert">
                    <ng-template ngbPanelContent>
                        <nav *ngFor="let recipe of recipes">
                            <li>{{recipe.category}}</li>
                        </nav>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-4" title="Drink">
                    <ng-template ngbPanelContent>
                        <nav *ngFor="let recipe of recipes">
                            <li>{{recipe.category}}</li>
                        </nav>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="col-8 recipe-bgd">Recipe Dispayed
            <div>{{recipe.recipeName}}</div>
            <div></div>
        </div>
    </div>
</div>